/* Generico */
body {
  font-family: 'Epilogue', sans-serif;
  color: #0B090A;
}

.container {
  max-width: 360px;
  margin: 0 auto;
}

.btn {
  padding: 20px 40px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.btn-sm {
  padding: 12px 24px;
  font-size: 0.9rem;
}

.btn-outline {
  border: 2px solid #FFFFFF;
  background-color: transparent;
}

.btn-outline:hover {
  border-color: #d9d9d9;
  color: #d9d9d9;
}

.btn-primary {
  background-color: #BA181B;
}

.btn-primary:hover {
  background-color: #E5383B;
}

/* Layout */

#header-container {
  background-color: #0B090A;
}

.header {
  color: #FFFFFF;
  padding: 20px;


  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overtitle {
  color: #E5383B;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

/* HERO SECTION */

#hero-container {
  background-color: #0B090A;
  color: #FFFFFF;

}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 48px 0px;
}

.hero-img img {
  max-width: 320px;
  flex: 1;
}

.hero-text__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.hero-text__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

/* SERVICES SECTION */

#services-container {
  padding: 48px 20px;
}

.services-list {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.service-card {
  background-color: #F5F3F4;
  border: 2px solid #D3D3D3;
}

.service-card img {
  width: 100%;
}

.service-card__text {
  padding: 32px;
}

.service-card__text h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}

.service-card__text p {
  font-size: 16px;
  line-height: 24px;
}

/* LOCATION SECTION */

#location-container {
  background-color: #F5F3F4;
}

#location-container .location {
  padding: 48px 20px 24px 20px;
}

#location-container address {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* FOOTER CONTAINER */

#footer-container {
  background-color: #0B090A;
  color: #FFF;
}

.footer {
  padding: 48px 20px;

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;


}

.footer-text {
  font-size: 16px;
  line-height: 24px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-svg {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

#footer-container a {
  color: currentColor;
}

/*-----------------------------------------------------------------------*/

@media (min-width: 361px) {

  /* Generico */


  .container {
    max-width: 1280px;
  }

  .overtitle {
    color: #E5383B;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .title {
    font-size: 44px;
    line-height: 56px;
    font-weight: 700;
  }

  /* Layout */

  .header {
    padding: 24px 72px;
  }

  /* HERO SECTION */

  #hero-container {
    padding: 0px 72px;
  }

  .hero {
    flex-direction: row;
    gap: 32px;
  }

  .hero-text {
    padding: 96px 0px;
  }

  .hero-img {
    align-self: flex-end;
  }

  .hero-img img {
    max-width: 100%;
  }

  .hero-text__title {
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
  }

  .hero-text__subtitle {
    font-size: 20px;
    line-height: 28px;
    max-width: 520px;
  }

  /* SERVICES SECTION */

  #services-container {
    padding: 96px 72px;
  }

  .services-list {
    flex-direction: row;
  }

  /* LOCATION SECTION */

  #location-container .location {
    padding: 96px 72px 48px;
  }

  /* FOOTER CONTAINER */

  .footer {
    padding: 48px 72px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}